.product-grid {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
}

.product-grid .col {
  display: flex;
  justify-content: center;
}

.btns {
  display: none;
  /* Hide buttons if not needed */
}

.btns button {
  padding: 10px 20px;
  border: 1px solid #009688;
  color: #009688;
  background-color: transparent;
  text-transform: capitalize;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

.btns button:hover {
  background-color: #009688;
  color: #fff;
}