/* You can add global styles to this file, and also import other style files */
@media (min-width:768px) {
  .container {
    margin: 0 auto;
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    margin: 0 auto;
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    margin: 0 auto;
    width: 1170px;
  }
}